<!DOCTYPE html>
<html lang="en" ng-app="Homepage">
  <head>
    <meta charset="utf-8">
    <title>Vary Pixel</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  </head>

  <body ng-controller="HomeController">
    <h1>Here is all the fun you can partake in</h1>
    <form>
      <input type="text" ng-model="boardTitleValue" placeholder="name your fun">
      <button ng-click="addBoard(boardTitleValue)" class="btn addBoardBtn">New Board</button>
    </form>

    <section>
      <ul ng-repeat="board in boards">
        <a ng-href="">{{board.title}}</a>
      </ul>
    </section>
    <script src="bower_components/angular/angular.js"></script>
    <script src="homepage.js"></script>
  </body>
</html>
