extends ./layout.jade

block scripts

block content
    canvas.grid
    canvas.board
    canvas.colour-palette
    button.btn.toggle-grid(type='button') Toggle Grid
    button.btn.save-canvas(type='button') Save Drawing
    p.save-alert
    img.colour-palette-toggle(src='images/ColorWheel-Base.png', alt='colour palette toggle')
