doctype html
html(ng-app='Homepage' lang='en')
  head
    meta(charset='utf-8')
    title Vary Pixel
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/reset.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/layout.css')
    link(rel='stylesheet', type='text/css', href='css/index.css')

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://cdn.socket.io/socket.io-1.3.5.js')
    script(src='http://www.parsecdn.com/js/parse-1.6.2.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js')
    script(src='js/angular/homepage.js')
    script(src='js/angular/controller/homepageController.js')
    script(src='js/angular/controller/userController.js')
    script(src='js/angular/controller/canvasController.js')
    script(src='js/angular/providers/allBoardService.js')
    script(type='text/javascript').
      Parse.initialize("U5tqKkqGtSb4VBBDRGmmtpjofTvtoyyrpWkN4BN8", "f5qinAxXHxneK1rrw8NPn787gglu20AGl6S0PeuD");
    link(href='css/layout.css', rel='stylesheet')
    block scripts
  body(ng-controller='UserController')
    nav.navbar.navbar-inverse
     .container-fluid
       .navbar-header
          a.navbar-brand(href='#') VARY-PIXEL
        div.
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
              a(ng-click='showLogIn=!showLogIn;') Log in
            li
              a(ng-click='showSignUp=!showSignUp;') Sign up
            li
              a(ng-click='showSignOut=!showSignOut;') Log out
          ul.nav.navbar-nav.navbar-right
            li.active
              form.searchbox(action='')
                input.search(type='text', placeholder='Type here')
                input.submit(type='submit', value='Search')

    block content
