doctype html
html(lang='en', ng-app='Homepage')
  head
    meta(charset='utf-8')
    title Vary Pixel
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://cdn.socket.io/socket.io-1.3.5.js')
    script(src='http://www.parsecdn.com/js/parse-1.6.2.min.js')
    script(type='text/javascript').
      Parse.initialize("U5tqKkqGtSb4VBBDRGmmtpjofTvtoyyrpWkN4BN8", "f5qinAxXHxneK1rrw8NPn787gglu20AGl6S0PeuD");
    block scripts
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') VARY-PIXEL
        div
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#') Log in
            li
              a(href='#') Log out
            li
              a(href='#') Sign up
            li
              form.searchbox(action='')
                input.search(type='text', placeholder='Type here')
                input.submit(type='submit', value='Search')



    block content
