body {
  background: none;
}

.button-container {
  margin-bottom: 50px;
  width: 100%;
}
.grid {
  position: absolute;
  border: 1px solid black;
}
.board {
  position: absolute;
  border: 1px solid black;
}
.mouseDown {
   cursor: url('/images/paintbrush.png'), auto;
}
.toggle-grid, .save-canvas, .home-button {
  position: fixed;
  top: 10px;
  font-family: lato;
}

.colour-palette-toggle {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.colour-palette {
  left: 50px;
  position: fixed;
  bottom: 50px;
}
.save-canvas {
  left: 120px;
}
.home-button {
  right: 20px;
}
.toggle-grid{
  left: 10px;
}
.save-alert {
  position: fixed;
  bottom: 20px;
  left: 200px;
  font-family: lato, sans-serif;
  font-size: 30px;
}
.searchbox {
  border: 10px solid black;
}
.pixel-limit{
  position: fixed;
  bottom: 20px;
  left: 100px;
  font-family: lato, sans-serif;
  font-size: 30px;
}

.img-description{
  position: fixed;
  top: 10px;
  margin-left: 45%;
  font-size: 40px;
  font-family: joyStix;
}
