body {
  background: none;
}
.button-container {
  position: fixed;
  margin-bottom: 70px;
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 2;
}
.grid {
  position: absolute;
  border: 1px solid black;
}
.board {
  position: absolute;
  border: 1px solid black;
  cursor: url('/images/paintbrush.png'), auto;
}
.canvases {
  margin-top: 70px;
  z-index: 1;
}
.toggle-grid, .save-canvas, .home-button, .chat-button {
  display: inline;
  font-family: lato;
  vertical-align: middle;
}
.colour-palette-toggle {
  display: inline;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  vertical-align: middle;
}
.colour-palette {
  left: 50px;
  position: fixed;
  top: 150px;
}
.home-button {
  float: right;
  margin-top: 20px;
}
.save-alert {
  position: fixed;
  bottom: 20px;
  left: 200px;
  font-family: lato, sans-serif;
  font-size: 30px;
}
.searchbox {
  border: 10px solid black;
}
.pixel-limit {
  position: fixed;
  bottom: 20px;
  left: 100px;
  font-family: lato, sans-serif;
  font-size: 30px;
}
.img-description {

  display: inline;
  font-size: 40px;
  font-family: joyStix;
}
