body {
  background: none;
}
.button-container {
  margin-bottom: 50px;
  background: white;
  width: 100%;
}
.grid {
  position: absolute;
  border: 1px solid black;
}
.board {
  position: absolute;
  border: 1px solid black;
  cursor: url('/images/paintbrush.png'), auto;
}
.toggle-grid, .save-canvas, .home-button, .chat-button {
  position: fixed;
  top: 10px;
  font-family: lato;
}
.colour-palette-toggle {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.colour-palette {
  left: 50px;
  position: fixed;
  bottom: 50px;
}
.toggle-grid {
  left: 10px;
}
.save-canvas {
  left: 100px;
}
.chat-button {
  left: 240px;
}
.home-button {
  right: 20px;
}
.save-alert {
  position: fixed;
  bottom: 20px;
  left: 200px;
  font-family: lato, sans-serif;
  font-size: 30px;
}
.searchbox {
  border: 10px solid black;
}
.pixel-limit {
  position: fixed;
  bottom: 20px;
  left: 100px;
  font-family: lato, sans-serif;
  font-size: 30px;
}
.img-description {
  position: fixed;
  top: 10px;
  margin-left: 30%;
  margin-right: 70%;
  font-size: 40px;
  font-family: joyStix;
}
