.thumbnail {
  height: 300px;
  width: 300px;
}

.board-list {
  list-style-type: none;
  z-index: 1;
}

.board-list li {
  display: inline-block;
  margin: 50px;
}

.user-reg {
  position: fixed;
  background-color: white;
  margin: 0 40%;
  border: 2px solid black;
  border-radius: 8px;
  width: 200px;
  height: 300px;
  padding-top: 40px;
  text-align: center;
}

.user-reg input {
  margin-top: 10px;
  margin-bottom: 10px;
}
