.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

header {
  position: fixed;
  padding: 10px 0 0;
  width: 100%;
  height: 50px;
  background-color: #E2F0C3;
  top: 0;
  left: 0;
}

.header_content {
  width: 300px;
}


.grid {
  position: absolute;
  border: 1px solid black;
}

.board {
  position: absolute;
  border: 1px solid black;
}

.toggle-grid, .save-canvas, .home-link {
  position: fixed;
  top: 10px;
  font-family: arial, sans-serif;
}

.colour-palette-toggle {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.colour-palette {
  left: 50px;
  position: fixed;
  bottom: 50px;
}

.save-canvas {
  left: 100px;
}

.home-link {
  right: 20px;
}

.save-alert {
  position: fixed;
  bottom: 20px;
  left: 200px;
}

.searchbox {
  border: 10px solid black;
}
