<section class="homepage" ng-controller="HomeController">
  <section ng-controller="UserController">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-header" ng-click="searchBy('description', '')">VARY-PIXEL</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <button class="btn btn-default navbar-btn signInButton" ng-click="userAction('signIn')" type="button">Sign in</button>
            </li>
            <li>
              <button class="btn btn-default navbar-btn signUpButton" ng-click="userAction('signUp')" type="button">Sign up</button>
            </li>
            <li>
              <button class="btn btn-default navbar-btn signOutButton" ng-click="userAction('signOut')" type="button">Sign out</button>
            </li>
            <li>
              <p class="username">{{ username }}</p>
            </li>
          </ul>
          <div class="nav-forms">
            <form class="searchbox navbar-form navbar-right">
              <input ng-model="searchString"class="form-horizontal" type="text"/>
              <button class="btn btn-default" type="button" ng-click="searchBy('description', searchString)">Search</button>
            </form>
            <form class="makenew navbar-form navbar-right">
              <button class="glyphicon glyphicon-plus" ng-click="userAction('makeNew')"></button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <section class="user-action form-length">
      <button class="glyphicon glyphicon-remove" ng-click="userAction(userActionChoice)"></button>
      <form ng-submit="signInUser(usernameLogIn, passwordLogIn)" class="sign-in" ng-show="userActionChoice === 'signIn'">
        <label>Username:
          <input name="username" ng-model="usernameLogIn" type="text">
        </label>
        <label>Password:
          <input name="password" ng-model="passwordLogIn" type="password">
        </label>
        <button class="btn btn-success" type="button">Sign in</button>
        <section>
        <div class="invalidLogin">Wrong username or password</div>
      </section>
      </form>
      <form class="sign-up" ng-show="userActionChoice === 'signUp'">
        <label>Username:
          <input name="username" ng-model="usernameSignUp" type="text">
        </label>
        <label>Email:
          <input name="email" ng-model="email" type="email">
        </label>
        <label>Password:
          <input name="password" ng-model="password" type="password">
        </label>
        <label>Password Confirmation:
          <input name="password-confirmation" ng-model="passwordConfirmation" type="password">
        </label>
        <button class="btn btn-success" ng-click="saveUser(usernameSignUp, email, password, passwordConfirmation)" type="button">Sign up</button>
        <section>
          <div class="invalidSignUp">User name or e-mail already taken</div>
        </section>
        <section>
          <div class="passwordUnmatch">Passwords do not match</div>
        </section>
      </form>
      <form class="sign-out" ng-show="userActionChoice === 'signOut'">
        <p>Are you sure you're ready to sign out?</p>
        <button class='btn btn-danger' ng-click="signOutUser()">Sign out</button>
      </form>
      <form ng-show="userActionChoice==='makeNew'">
        <input ng-model="boardDesc" type="text">
        <button class="btn btn-success" ng-click="addBoard(boardDesc)" type="button">This is my fun</button>
      </form>
    </section>

    <section>
      <div class="jumbotron">
        <h1>Here is all the fun you can partake in</h1>
        <p>
          It's simple! Sign up, join a room and start!
          <br/>
          Don't like any rooms? Create your own.
        </p>
      </div>

      <ul class="board-list">
        <li ng-repeat="board in boards">
          <a ng-click="setCurrent(board.id, board.get('description')); checkUserReg();" ui-sref="canvas">
            <div class="image-container">
              <img ng-mouseover="showContributors(board.id)" ng-mouseleave="clearContributors()" class="board-thumbnail" data-ng-src="{{board.attributes.Base64}}"/>
              <div class="after">
                <h4>Contributors</h4><br>
                <ul class="contributors"></ul>
              </div>
            </div>
          </a>
          <h4 class="board-description">{{ board.get('description') }}</h4>
        </li>
      </ul>
    </section>
    <section>
      <div class="userRegistrationBox">
        You need to log in before you can join the fun!
      </div>
    </section>
  </section>
</section>
